.wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__label {
  display: flex;
  flex-direction: column;
}

.skills__description {
}
