.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 450px;
  padding: 20px;
  border: 2px solid pink;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
